@use 'sass:map';

$base-colors: (
   'primary': #5D46DB,
   'secondary': #15628F,
   'accent': #D42ADB
);

$colors: ();

@each $color, $value in $base-colors {
   $d-1: darken($value, 10%);
   $d-2: darken($value, 20%);
   $d-3: darken($value, 30%);
   $d-4: darken($value, 40%);
   $d-5: darken($value, 50%);
   @for $i from 1 through 5 {
      $colors: map.set($colors, #{$color} + '-d-1', d- #{$i});
      $colors: map.set($colors, #{$color} + '-d-2', $d-2);
   }
   $colors: map.set($colors, #{$color}-d-3, $d-3);
   $colors: map.set($colors, #{$color}-d-4, $d-4);
   $colors: map.set($colors, #{$color}-d-5, $d-5);
}

@debug $colors;

@function color ($color){
   @return map.get($colors, $color);
}

// $primary-d-10: darken($primary, 10%);
// @function generateShadows
// darken($primary, 10%);